# OS-specific
.DS_Store

# Editor swapfiles
.*.sw?
*~

# Vagrant stuff
boxes/*
/.vagrant
/vagrant-spec.config.rb

# Bundler/Rubygems
*.gem
.bundle
pkg/*
tags
/Gemfile.lock
test/tmp/
vendor/
/exec

# Documentation
_site/*
.yardoc/
doc/

# Python
*.pyc

# Rubinius
*.rbc

# IDE junk
.idea/*
*.iml
.project

# Ruby Managers
.rbenv
.ruby-gemset
.ruby-version
.rvmrc

# WebPack Modules / NodeJS Modules
*/node_modules
data/ej_webpack/node_modules/

#github.com / Golang
*/github.com
*/golang.org
*/git.eclipse.org

#Bibliografia
Bibliografia
